@import "tailwindcss";

@theme {
    --color-neutral: #404040;
    --color-zinc-100: #f4f4f5;
    --color-zinc-200: #e4e4e7;
    --color-zinc-300: #d4d4d8;
    --color-zinc-500: #71717a;
    --color-zinc-800: #27272a;
    --color-error-500: #ef4444;
}

h1 {
    @apply text-4xl leading-11 tracking-tight;
}

h2 {
    @apply leading-10 tracking-tight;
    font-size: 32px;
}

h3 {
    @apply leading-7 tracking-tight;
    font-size: 28px;
}

h4 {
    @apply text-2xl leading-7 tracking-tight;
}

h5 {
    @apply leading-6 tracking-tight;
    font-size: 20px;
}

h6 {
    @apply leading-5 tracking-tight;
}